.jiffy.dev
*.app
*.beam
*.o
*.so
.eunit
deps
erln8.config

.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
c_src/*.o
c_src/env.mk
priv
