{erl_opts, [
    {platform_define, "R1(1|2|3|4|5|6)", 'JIFFY_NO_MAPS'}
]}.

{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.

{eunit_tests, [{dir, "test"}]}.

{profiles, [{test,
             [{deps, [
                      {proper,
                       {git, "git://github.com/manopapad/proper.git",
                        {branch, "master"}}}
                     ]}]}]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src clean"}]}.
